/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$white        : #FFFFFF;
$grey         : #565656;
$darkblue     : #171C34;
$orange       : #F87700;
$turquoise    : #8CDAD6;