.page-template-get-in-touch{
    #content{
        padding:100px 0;
        h1{
            font-size:270%;
            padding-right: 20px;
        }
        p{
            text-align:justify;
            text-align-last: left;
        }
    }
    #form{
        padding-bottom:100px;
    }
}