header#header {
    z-index: 999;
    position: fixed;
    background: rgba(255, 255, 255, 0.97);
    border-bottom: 5px solid $darkblue;
    width: 100%;
    padding: 5px 0 0;
    .nav-container{
        position:relative;
        width:100%;
        display:block;
        margin:0 auto;
        height:100%;
        clear:both;
        #primary-navigation {
            position: relative;
            z-index:1000;
            #header-logo {
                position:relative;
                float:left;
                img {
                    max-width: 50px;
                    left: -100px;
                    &#logo-text {
                        max-width: 200px;
                        top: 20px;
                        
                        &.topLogo {
                            top: 0;
                            -webkit-animation:logoTop 1s ease normal both ; 
                        -moz-animation:logoTop 1s ease normal both ; 
                        animation:logoTop 1s ease normal both ; 
                        }
                            
                    }
                    &#logo-triangle {
                        margin-top: 5px;
                    }
                }
            }
            .menu-main-menu-container {
                padding-top: 5px;
                float:right;
                ul {
                    float:left;
                    width:100%;
                    li {
                        list-style: none;
                        position: relative;
                        font-family: 'Gotham-Book', Arial, sans-serif;
                        transition: all 0.5s ease-in-out 0s;
                        text-align:center;
                        text-transform: uppercase;
                        position:relative;
                        a {
                            position: relative;
                            display:block;
                            color:$darkblue;
                            font-size:85%;
                            padding:22px 5px;
                            margin:0 10px;
                            transition: all 0.5s ease-in-out 0s;
                            background-position: 25px -10px;
                            
                            &::after, span{
                                content: '';
                                display: block;
                                height: 100%;
                                left: 0;
                                z-index: -1;
                                opacity: 0;
                                position: absolute;
                                top: 0;
                                transition: opacity 0.5s ease-in-out 0s;
                                width: 100%;
                            }
                        }
                        a.flyout-toggle{
                            padding:0;
                            margin:0;
                            span{
                                display:none;
                            }
                        }
                        a.dropdown-toggle{
                            i{
                                display:none;
                            }
                        }
                    }
                    li:hover, li.active{
                        a{
                            &:after, span {
                                background-image: url(../img/nav-sprite.png);
                                background-repeat: no-repeat;
                                background-position: center;
                                transition: opacity .5s ease-in-out 0s;
                                opacity: 1;
                            }
                        }
                    }
                }
                #menu-main-menu > li, .photography-menu > li {
                    float:left;
                }
                ul#menu-main-menu > li > ul > li > a, ul.photography-menu > li > ul > li > a {
                    display:block;
                    color:$white;
                    padding: 5px;
                    transition: all 0.5s ease-in-out 0s;
                }
                ul#menu-main-menu > li > ul > li > a:after, ul.photography-menu > li > ul > li > a:after {
                    display: none;
                }
                ul#menu-main-menu > li > ul > li > a:hover, ul.photography-menu > li > ul > li > a:hover {
                    color:$orange;
                    transition: all 0.5s ease-in-out 0s;
                }
                ul#menu-main-menu > li > ul, ul.photography-menu > li > ul {
                    opacity: 0;
                    visibility: hidden;
                    padding: 10px 0;
                    background-color: $darkblue;
                    border:none;
                    text-align: center;  /* This is for the text when box is dropped down, centered isnt always totally in the middle so best to have on the left */
                    position: absolute;
                    z-index:1000;
                    top: 100px;			/* This is for the drop down annimation */
                    right: 0%;
                    margin-left: -85px;
                    width: 100%;
                    transition: all .3s .1s;
                    overflow:visible;
                }
                #menu-main-menu > li:hover > ul, .photography-menu > li:hover > ul {
                    opacity: 1;
                    top: 90px;			/* This is how far from the top the drop down annimation will go  */
                    visibility: visible;
                }
                ul.dropdown-menu{
                    li{
                        a{
                            background:$darkblue;
                            color:$white;
                            transition:all 0.5s ease-in-out;
                            span{
                                display:none;
                            }
                        }
                        a:hover{
                            color:$orange;
                        }
                    }
                }
            }
        }
    }
}
/* drop-down item styles */
/* if you want different styling for tertiary menus, just copy the 4 rules below and insert an additional ul: for example: ".navigation ul ul li", becomes: ".navigation ul ul ul li" */

.navbar-toggle {
    background-color: transparent;
    border-radius: 4px;
    float: right;
    margin-top: 15px;
    padding: 10px 8px;
    position: relative;
    .icon-bar {
        background: $darkblue;
        border-radius: 1px;
        display: block;
        height: 3px;
        width: 26px;
        transition: all 0.2s;
    }
    .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
}
.navbar-toggle:hover, .navbar-toggle:focus {
    background: transparent;
}
.navbar-toggle.collapsed {
    .top-bar {
        transform: rotate(0);
    }
    .middle-bar {
        opacity: 1;
    }
    .bottom-bar {
        transform: rotate(0);
    }
}
#mobile-menu {
    width:100%;
}
#mobile-logo {
    position:relative;
    float:left;
    margin-bottom:20px;
    img {
        max-width:70px;
    }
}
.navbar-header {
    display:none;
    width:100%;
}
.navbar-brand {
    float: left;
    width:240px;
    background:$white;
    img {
        transition: all 0.5s ease-in-out 0s;
        display:block;
    }
}
.navbar-collapse {
    background-color: $white;
    width:100%;
    box-shadow: inset 0px 2px 17px rgba(23, 28, 52, 0.07);
    -webkit-overflow-scrolling: touch;
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-top: 0!important;
        padding-top: 0px!important;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    ul:before,
        ul:after {
        display: table;
        content: " "
    }
    ul:after {
        clear: both
    }
    ul:before,
        ul:after {
        display: table;
        content: " "
    }
    ul:after {
        clear: both
    }
    ul > li {
        position: relative;
        display: block;
        border-bottom: 1px solid #f9f9f9!important;
        border-top: 1px solid #e0e0e0!important;
    }
    ul > li >a {
        color: $darkblue;
        position: relative;
        display: block;
        padding: 0px 15px;
    }
    ul > li > a:hover,
        ul > li > a:focus {
        text-decoration: none;
        background: $turquoise;
        i {
            border-color: transparent;
            outline: transparent;
        }
    }
    li{
        position:relative;
        text-align:center;
        transition: all 0.5s ease-in-out 0s;
        line-height:32px;
        border-bottom: 1px solid rgba(23, 28, 52, 0.1);
        //border-top: 1px solid rgba(97, 97, 95, 0.5);
        a{
            font-family: 'Gotham-Book', Arial, sans-serif;
            color: $darkblue;
            transition: all 0.5s ease-in-out 0s;
            text-transform:uppercase;
            display:block;
            //background:$darkblue;
            position: relative;
        }
    }
    li:hover{
        a:hover, a:focus{
            color: $white;
            background: $turquoise;
        }
    }
    li.active{
        a{
            color: $white;
            background: $turquoise;
        }
    }
    li:first-of-type {
        border-top: 0;
    }
}
.collapse {
    display: none
}
.collapse.in {
    display: block
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: " "
}
.navbar-collapse:after {
    clear: both
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: " "
}
.navbar-collapse:after {
    clear: both
}
.navbar-collapse.in {
    overflow-y: auto
}
.navbar-header:before,
.navbar-header:after {
    display: table;
    content: " "
}
.navbar-header:after {
    clear: both
}
.navbar-header:before,
.navbar-header:after {
    display: table;
    content: " "
}
.navbar-header:after {
    clear: both
}


/*
===========================================================
BOOTSTRAP MISSING NAV STYLES
===========================================================
*/ 
.dropdown:hover {
    .dropdown-menu {
        opacity: 1;
    }
}
.dropdown-menu {
    position: relative;
    z-index: 1000;
    display: none;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 32px;
    font-size: 115%;
    color: $white;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: $white;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: $darkblue;
    text-decoration: none;
    background-color: none;
    outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
    display: block;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;

    a {  
        margin: 0!important;
        background: #f5f4f4;
    }
}
.open > a  {
    outline: 0;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-menu-left {
    right: auto;
    left: 0;
}
.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}
@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #f7f5f5;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-header { 
    i {
        position: absolute;
        bottom: %;
        right: 5%;
        padding: 15px;
        max-height: 102%;
        font-size: 9px!important;
        outline: 1px solid #61615f;
        border: 1px solid #484847;
        transition: all 0.5s ease-in-out 0s;
        z-index: 999;
    }
}
.navbar-collapse li a:hover, .navbar-collapse li a:focus {

    //background-color: $darkblue;

    i {
        border-color: transparent;
        outline: transparent;
    }
}


/* Menu hide default */
@media screen and (min-width: 64.043em) {
    #header.menu-default-hide #header-inn {
        height: 150px;
      }
      #header.menu-default-hide.header-slide-down #header-inn  {
        height: 80px;
      }

      body.page-template-home:not(.ux-mobile) #header.menu-default-hide {
        background-color: transparent!important; top: 40px;
        -webkit-animation:HeaderAnimationUnzip 1s ease normal both ; 
        -moz-animation:HeaderAnimationUnzip 1s ease normal both ; 
        animation:HeaderAnimationUnzip 1s ease normal both ; 
      }
      body.page-template-home:not(.ux-mobile) #header.menu-default-hide.header-slide-down
      /*.no-touch body.page #header.menu-default-hide:not(.header-slide-down):hover*/ {
        -webkit-animation:HeaderAnimationZip 1s ease normal both ;
        -moz-animation:HeaderAnimationZip 1s ease normal both ; 
        animation:HeaderAnimationZip 1s ease normal both ; 
      }
      @-webkit-keyframes HeaderAnimationZip {
        0%{ -webkit-transform: translateY(0); }
        50%{ -webkit-transform: translateY(-40px); }
        100%{ -webkit-transform: translateY(-40px); }
      }
      @-moz-keyframes HeaderAnimationZip {
        0%{ -moz-transform: translateY(0); }
        50%{ -moz-transform: translateY(-40px); }
        100%{ -moz-transform: translateY(-40px); }
      }
      @keyframes HeaderAnimationZip {
        0%{ transform: translateY(0); }
        50%{ transform: translateY(-40px); }
        100%{ transform: translateY(-40px); }
      }
      @-webkit-keyframes HeaderAnimationUnzip {
        0%{ -webkit-transform: translateY(-40px); }
        50%{ -webkit-transform: translateY(-40px); }
        100%{ -webkit-transform: translateY(0); }
      }
      @keyframes HeaderAnimationUnzip {
        0%{ transform: translateY(-40px); }
        50%{ transform: translateY(-40px); }
        100%{ transform: translateY(0); }
      }
      @-moz-keyframes HeaderAnimationUnzip {
        0%{ -moz-transform: translateY(-40px); }
        50%{ -moz-transform: translateY(0); }
        100%{ -moz-transform: translateY(0); }
      }
      body.page-template-home.admin-bar:not(.ux-mobile) #header.menu-default-hide {
        -webkit-animation:adminHeaderAnimationUnzip 1s ease normal both ; 
        -moz-animation:adminHeaderAnimationUnzip 1s ease normal both ; 
        animation:adminHeaderAnimationUnzip 1s ease normal both ; 
      }
      body.page-template-home.admin-bar:not(.ux-mobile) #header.menu-default-hide.header-slide-down
      /*.no-touch body.page.admin-bar #header.menu-default-hide:not(.header-slide-down):hover*/ {
        -webkit-animation:adminHeaderAnimationZip 1s ease normal both ;
        -moz-animation:adminHeaderAnimationZip 1s ease normal both ; 
        animation:adminHeaderAnimationZip 1s ease normal both ; 
      }
      @-webkit-keyframes adminHeaderAnimationZip {
        0%{ -webkit-transform: translateY(0); }
        50%{ -webkit-transform: translateY(-20px); }
        100%{ -webkit-transform: translateY(-20px); }
      }
      @-moz-keyframes adminHeaderAnimationZip {
        0%{ -moz-transform: translateY(0); }
        50%{ -moz-transform: translateY(-20px); }
        100%{ -moz-transform: translateY(-20px); }
      }
      @keyframes adminHeaderAnimationZip {
        0%{ transform: translateY(0); }
        50%{ transform: translateY(-20px); }
        100%{ transform: translateY(-20px); }
      }
      @-webkit-keyframes adminHeaderAnimationUnzip {
        0%{ -webkit-transform: translateY(-20px); }
        50%{ -webkit-transform: translateY(-20px); }
        100%{ -webkit-transform: translateY(0); }
      }
      @keyframes adminHeaderAnimationUnzip {
        0%{ transform: translateY(-20px); }
        50%{ transform: translateY(-20px); }
        100%{ transform: translateY(0); }
      }
      @-moz-keyframes adminHeaderAnimationUnzip {
        0%{ -moz-transform: translateY(-20px); }
        50%{ -moz-transform: translateY(0); }
        100%{ -moz-transform: translateY(0); }
      }

      /* Anima - Logo*/
      body.page-template-home #header.menu-default-hide #header-logo {
        position: absolute; 
        left: 50%; 
        height: 150px; 
        line-height: 150px;
        -webkit-animation:logoAnimationUnzip 1s ease normal none ; 
        -moz-animation:logoAnimationUnzip 1s ease normal both ; 
        animation:logoAnimationUnzip 1s ease normal both ; 
      }
      body.page-template-home #header.menu-default-hide.header-slide-down #header-logo 
      /*.no-touch body.page #header.menu-default-hide:not(.header-slide-down) #header-inn:hover #logo*/ {
          -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        -webkit-animation:logoAnimationZip 1s ease normal both ; 
        -moz-animation:logoAnimationZip 1s ease normal both ; 
        animation:logoAnimationZip 1s ease normal both ; 
      }
      @-webkit-keyframes logoAnimationZip {
        0%{ left: 50%; }
        50%{ left: 50%; }
        100%{ left: 0; 
              -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
      }
      @-moz-keyframes logoAnimationZip {
        0%{ left: 50%; }
        50%{ left: 50%; }
        100%{ left: 0;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
      }
      @keyframes logoAnimationZip {
        0%{ left: 50%;}
        50%{ left: 50%; }
        100%{ left: 0;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
      }
      @-webkit-keyframes logoAnimationUnzip {
        0%{ left: 0; }
        50%{ left: 50%; }
        100%{ left: 50%;  
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
      }
      @-moz-keyframes logoAnimationUnzip {
        0%{ left: 0;  }
        50%{ left: 50%; }
        100%{ left: 50%;  
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
      }
      @keyframes logoAnimationUnzip {
        0%{ left: 0; }
        50%{ left: 50%;  }
        100%{ left: 50%; 
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
      }
      /* Anima: logo a */
      body.page #header.menu-default-hide #header-logo a {
          height: 150px; text-align: center; 
          display: table-cell;
          -webkit-animation:logoAanimationUnzip 1s ease normal both ;
          -moz-animation:logoAanimationUnzip 1s ease normal both ; 
          animation:logoAanimationUnzip 1s ease normal both ;  
      }
      body #header.menu-default-hide.header-slide-down #header-logo a
      /*.no-touch body.page #header.menu-default-hide:not(.header-slide-down) #header-inn:hover #logo a*/ { 
        display: block;
        -webkit-animation:logoAanimationZip 1s ease normal both ; 
        -moz-animation:logoAanimationZip 1s ease normal both ; 
        animation:logoAanimationZip 1s ease normal both ; 
      }
      @-webkit-keyframes logoAanimationZip {
        0%{ line-height: 150px; }
        50%{ line-height: 8px; }
        100%{ line-height: 8px; }
      }
      @-moz-keyframes logoAanimationZip {
        0%{ line-height: 150px; }
        50%{ line-height: 8px; }
        100%{ line-height: 8px; }
      }
      @keyframes logoAanimationZip {
        0%{ line-height: 150px; }
        50%{ line-height: 8px; }
        100%{ line-height: 8px; }
      }
      @-webkit-keyframes logoAanimationUnzip {
        0%{ line-height: 8px; }
        50%{ line-height: 8px; }
        100%{ line-height: 150px; }
      }
      @-moz-keyframes logoAanimationUnzip {
        0%{ line-height: 8px; }
        50%{ line-height: 8px; }
        100%{ line-height: 150px; }
      }
      @keyframes logoAanimationUnzip {
        0%{ line-height: 8px; }
        50%{ line-height: 8px; }
        100%{ line-height: 150px; }
      }
      /* Anima: logo img */
      body #header.menu-default-hide #header-logo .logo-image {
        display: inline-block; max-height: 60px;
      }
      body #header.menu-default-hide.header-slide-down .logo-image
      /*.no-touch body.page #header.menu-default-hide:not(.header-slide-down) #header-inn:hover .logo-image*/ {
        -webkit-animation:logoImgZip 1s ease normal both ; 
        -moz-animation:logoImgZip 1s ease normal both ; 
        animation:logoImgZip 1s ease normal both ; 
      }
      @-webkit-keyframes logoImgZip {
        0%{ max-height: 60px; }
        50%{ max-height: 40px; }
        100%{ max-height: 40px; }
      }
      @-moz-keyframes logoImgZip {
        0%{ max-height: 60px; }
        50%{ max-height: 40px; }
        100%{ max-height: 40px; }
      }
      @keyframes logoImgZip {
        0%{ max-height: 60px; }
        50%{ max-height: 40px; }
        100%{ max-height: 40px; }
      }
      /* Anima : menu search */
      body #header.menu-default-hide #header-inn-main {
        visibility: hidden; 
        opacity: 0;
         -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
      body #header.menu-default-hide.header-slide-down #header-inn-main
      /*.no-touch body.page #header.menu-default-hide:not(.header-slide-down) #header-inn:hover #header-inn-main*/ {
        visibility: visible; opacity: 1;
        -webkit-transition: all .5s .5s;
        -moz-transition: all .5s .5s;
        -ms-transition: all .5s .5s;
        -o-transition: all .5s .5s;
        transition: all .5s .5s;
      }
      /* Anima : black bg */
      body #header.menu-default-hide .header-bg {
        width: 250px; height: 150px; position: absolute; z-index: -1; top: 0; left: 50%;
            box-shadow: 0 10px 20px rgba(137,166,165,0.3);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-animation:headerBGanimationUnzip 1s ease normal both ; 
        -moz-animation:headerBGanimationUnzip 1s ease normal both ; 
        animation:headerBGanimationUnzip 1s ease normal both ; 
      }
      body #header.menu-default-hide .header-bg {
          background-color: rgba(255, 255, 255, 0.97);
          width: 150px;
          height: 150px;
          position: absolute;
          z-index: -1;
          border: 5px solid ;
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          -webkit-animation: headerBGanimationUnzip 1s ease normal both;
          -moz-animation: headerBGanimationUnzip 1s ease normal both;
          animation: headerBGanimationUnzip 1s ease normal both;
      }
      body #header.menu-default-hide.header-slide-down .header-bg
      /*.no-touch body.page #header.menu-default-hide:not(.header-slide-down) #header-inn:hover ~ .header-bg*/ {
        -webkit-animation:headerBGanimationZip 1s ease normal both ; 
        -moz-animation:headerBGanimationZip 1s ease normal both ; 
        animation:headerBGanimationZip 1s ease normal both ; 
      }
      @-webkit-keyframes headerBGanimationZip {
        0%{ height: 150px; width: 250px; border-color: $darkblue;  }
        50%{ height: 100px; width: 250px; }
        100%{ height: 100px; width: 100%; border-color: transparent transparent $darkblue transparent; }
      }
      @-moz-keyframes headerBGanimationZip {
        0%{ height: 150px; width: 250px; border-color: $darkblue;  }
        50%{ height: 100px; width: 250px; }
        100%{ height: 100px; width: 100%; border-color: transparent transparent $darkblue transparent; }
      }
      @keyframes headerBGanimationZip {
        0%{ height: 150px; width: 250px; border-color: $darkblue;  }
        50%{ height: 100px; width: 250px; }
        100%{ height: 100px; width: 100%; border-color: transparent transparent $darkblue transparent; }
      }
      @-webkit-keyframes headerBGanimationUnzip {
        0%{ height: 100px; width: 100%; border-color: transparent transparent $darkblue transparent;}
        50%{ height: 100px; width: 150px; }
        100%{ height: 150px; width: 150px; border-color: $darkblue; }
      }
      @-moz-keyframes headerBGanimationUnzip {
        0%{ height: 100px; width: 100%; border-color: transparent transparent $darkblue transparent; }
        50%{ height: 100px; width: 250px; }
        100%{ height: 150px; width: 250px; border-color: $darkblue ; }
      }
      @keyframes headerBGanimationUnzip {
        0%{ height: 100px; width: 100%; border-color: transparent transparent $darkblue transparent; }
        50%{ height: 100px; width: 250px; }
        100%{ height: 150px; width: 250px; border-color: $darkblue ; }
      }

      .hide-logo {
          opacity: 0;
          -webkit-animation:logofadeOut 0.5s ease normal both ; 
          -moz-animation:logofadeOut 0.5s ease normal both ; 
          animation:logofadeOut 0.5s ease normal both ; 
      }
      .show-logo {
          opacity: 1!important;
          -webkit-animation:logofadeIn 1s ease normal both ; 
          -moz-animation:logofadeIn 1s ease normal both ; 
          animation:logofadeIn 1s ease normal both ; 
      }

      @-webkit-keyframes logofadeIn {
        0%{ opacity: 0; }
        50%{ opacity: 0.5; }
        100%{ opacity: 1; }
      }
      @-moz-keyframes logofadeIn {
        0%{ opacity: 0; }
        50%{ opacity: 0.5; }
        100%{ opacity: 1; }
      }
      @keyframes logofadeIn {
        0%{ opacity: 0; }
        50%{ opacity: 0.5; }
        100%{ opacity: 1; }
      }

      @-webkit-keyframes logofadeOut {
        0%{ opacity: 1; top: 20px;}
        50%{ opacity: 0.5; top: 0px; }
        100%{ opacity: 0; top: 0px; }
      }
      @-moz-keyframes logofadeOut {
        0%{ opacity: 1; top: 20px;}
        50%{ opacity: 0.5; top: 0; }
        100%{ opacity: 0; top: 0px; }
      }
      @keyframes logofadeOut {
        0%{ opacity: 1; top: 20px; }
        50%{ opacity: 0.5; top: 0; }
        100%{ opacity: 0; top: 0px; }
      }

      @-webkit-keyframes logoTop {
        0%{ top: 0px;}
        80%{ top: 0px; }
        100%{ top: 20px; }
      }
      @-moz-keyframes logoTop {
        0%{ top: 0px;}
        80%{  top: 0; }
        100%{ top: 20px; }
      }
      @keyframes logoTop {
        0%{  top: 0px; }
        80%{ top: 0; }
        100%{ top: 20px; }
      }

}

