/*
A. CUSTOM SETTINGS
1. TYPOGRAPHY
2. HEADER
3. NAVIGATION
4. SLIDERS
5. FOOTER 
6. COPYRIGHT
7. PAGE SPECIFIC
    7.1 HOME
    7.2 ABOUT ME
    7.3 PHOTOGRAPHY
    7.4 INVESTMENT
    7.5 GIF BOOTH
8. PARTS
    8.1 GET IN TOUCH CTA
    8.2 SOCIAL
9. BLOG
    10.1 BLOG SINGLE
    10.2 BLOG ARCHIVE
10. GET IN TOUCH
11. PLUGINS
12. HOVER EFFECTS
13. COMMON STYLE / BORDERS
*/
/**
 * 
 * A. CUSTOM SETTINGS
 * ----------------------------------------------------------------------------
 */

a:hover {
    cursor: pointer;
}
html, body {
    height:auto!important;
    overflow-x: hidden;
}
body {
    overflow-y: hidden;
    background: transparent;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    -ms-interpolation-mode: bicubic;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#wpadminbar {
    position: fixed !important;
}
[class*="column"] + [class*="column"]:last-child {
    float:left;
}
.medium-centered{
    float:left!important;
}
.os-animation {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}

.PadRight200{
    padding-right:200px;
}

a.button{
    display:block;
    font-family:'Gotham-Book';
    text-transform:uppercase;
    border:none;
    position:relative;
    transition:all 0.5s ease-in-out 0s;
    padding:20px 0;
    float:right;
    font-size:130%;
    letter-spacing:1px;
    span{
        position:absolute;
        top:5px;
        left:5px;
        right:5px;
        bottom:5px;
        border:1px solid $white;
    }
}
a.button:hover, button:hover, button:focus, .button:hover, .button:focus{
    background:$orange;
}
.pxforward {
    padding: 50px 0 0;
    position: relative;
    z-index: 99;
}
.bg-white {
    background: $white;
}
.margTop90 {
    margin-top:  90px;
}
/**
 * 1. TYPOGRAPHY
 * ----------------------------------------------------------------------------
 */

/**
 * 2. HEADER
 * ----------------------------------------------------------------------------
 */
.banner {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/**
 * 3. NAVIGATION
 * ----------------------------------------------------------------------------
 */

/**
 * 4. SLIDERS
 * ----------------------------------------------------------------------------
 */
#slider {
    position: relative;
    .svg-cont {
        position: absolute;
        width: 100%;
        z-index: 9;
        bottom: -3px;
    }
    .flexslider {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .slides {
            height: 100vh;
            li {
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        a.scrollDown {
            padding-top: 80px;
            position: absolute;
            z-index: 999;
            display: inline-block;
            transition: all 0.5s ease-in-out 0s;
            bottom: 20px;
            
            span {
                position: absolute;
                top: 0;
                left: 50%;
                width: 24px;
                height: 24px;
                margin-left: -12px;
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-animation: sdb07 2s infinite;
                animation: sdb07 2s infinite;
                opacity: 0;
                box-sizing: border-box;
                
                &:nth-of-type(1) {
                    -webkit-animation-delay: 0s;
                    animation-delay: 0s;
                }
                &:nth-of-type(2) {
                    -webkit-animation-delay: .15s;
                    animation-delay: .15s;
                    top: 16px;
                }
                &:nth-of-type(3) {
                    -webkit-animation-delay: .3s;
                    animation-delay: .3s;
                    top: 32px;
                }
            }
            &:hover {
                span {
                    &:nth-of-type(1) {
                        border-color: $orange;
                    }
                    &:nth-of-type(2) {
                        border-color: $turquoise;
                    }
                    &:nth-of-type(3) {
                        border-color: $darkblue;
                    }
                }
            }
            
        }
        .mouse {
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 36px;
            display: inline-block;
            z-index: 99;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            position: absolute;
            border: 2px solid $white;
            border-radius: 12px;

            &:before {
              content: '';
              display: inline-block;
              width: 2px;
              height: 10px;
              position: absolute;
              top: 5px;
              left: 8px;
              background-color: $white;
              animation: mouse-animation 2.75s ease-in-out infinite;
            }
          }

          @keyframes mouse-animation {
                  0% {
            transform: scale(1,0);
            transform-origin: 50% 0;
                  }
                  20%, 80% {
            transform: scale(1,1);
                  }
            81% {
            transform-origin: 50% 100%;  
            }
                  100% {
            transform: scale(1,0);
            transform-origin: 50% 100%; 
                  }
          }
        @-webkit-keyframes sdb07 {
                0% {
                        opacity: 0;
                }
                50% {
                        opacity: 1;
                }
                100% {
                        opacity: 0;
                }
        }
        @keyframes sdb07 {
                0% {
                        opacity: 0;
                }
                50% {
                        opacity: 1;
                }
                100% {
                        opacity: 0;
                }
        }

    }
    .flex-direction-nav a {
        height: 30px;
        z-index: 999;
    }
    .flex-direction-nav .flex-prev {
        border-bottom: 25px solid transparent;
        border-right: 45px solid $darkblue;
        border-top: 25px solid transparent;
        left: -10%;
    }
    .flex-direction-nav .flex-next {
        border-bottom: 25px solid transparent;
        border-left: 45px solid $darkblue;
        border-top: 25px solid transparent;
        right: -10%;
    }
}

/**
 * 5. FOOTER 
 * ------------------------------------
 */

/**
 * 6. COPYRIGHT
 * ------------------------------------
 */

/** 7. PAGE SPECIFIC
 * ------------------------------------ */

/**
 *  7.1 HOME
 * ------------------------------------
 */
.parallax {
    position:absolute;
    max-width:100px;
    min-width: 250px;
    z-index: -9999;
    img {
        max-width: 100%;
        width:100%;
        height:auto;

    }
}


/**
 *  7.2 ABOUT ME
 * ------------------------------------
 */

/**
 *  7.3 PHOTOGRAPHY
 * ------------------------------------
 */

/**
 *  7.4 INVESTMENT
 * ------------------------------------
 */

/**
 *  7.5 GIF BOOTH
 * ------------------------------------
 */


/** 8. PARTS
 * ------------------------------------ */

/**
 *  8.1 GET IN TOUCH CTA
 * ------------------------------------
 */

#cta{
    position:relative;
    margin:100px 0 27px;
    #cta-wrap{
        background:$turquoise;
        text-align:center;
        position:relative;
        padding:50px 125px 55px;
        p{
            text-align:center;
        }
        h3{
            margin-bottom:30px;
        }
        a.button{
            color:$darkblue;
            transition:all 0.5s ease-in-out 0s;
            display:block;
            float:none;
            margin:35px auto 0;
            padding:35px 0;
            line-height:58px;
            background:$white;
            max-width:225px;
            span{
                border:1px solid $turquoise;
            }
        }
        a.button:hover{
            background:$orange;
        }
        .white-bdr{
            position:absolute;
            top:20px;
            bottom:20px;
            left:20px;
            right:20px;
            border:2px solid $white;
        }
        img{
            position:absolute;
        }
        img.left{
            left:50px;
            top:50px;
            width:65px;
        }
        img.right{
            right:50px;
            bottom:50px;
            width:90px;
        }
    }
}
/**
 *  8.2 SOCIAL
 * ------------------------------------
 */
.social-icons{
    ul.social{
        position:relative;
        display:block;
        text-align:center;
        margin: 0;
        li {
            float:none;
            display: inline-block;
            margin: 0;
            padding: 0;
            font-size:105%;
            a {
                display:block;
                i {
                    display: block;
                    width:25px;
                    height:25px;
                    line-height:25px;
                    color:$white;
                    transition: all 0.5s ease-in-out 0s;
                }
            }
            a {
                i.fa-instagram{
                    background:$white;
                    border-radius:50%;
                    color:$darkblue;
                }
            }
            a:hover{
                background:$darkblue;
                i{
                    color:$orange;;
                }
                i.fa-instagram{
                    background:$orange;
                    color:$darkblue;
                }
            }
        }
    }
}
/**
 *  9. BLOG
 * ------------------------------------
 */

/**
 *  9.1 BLOG SINGLE
 * ------------------------------------
 */

/**
 *  9.2 BLOG ARCHIVE
 * ------------------------------------
 */

/**
 *  10. GET IN TOUCH
 * ------------------------------------
 */

/**
 * 11. PLUGINS
 * ------------------------------------
 */

/**
 * 12. HOVER EFFECTS
 * ------------------------------------
 */
.grid {
    position: relative;
    list-style: none;
    text-align: center;
    margin-bottom: 1.875rem;
}
/* Common style */
.grid figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    max-width: 100%;
    height: auto;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.grid figure .figwrap {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding:0 45px;
}
.grid figure img {
    position: relative;
    display: block;
    height: auto;
    max-width: 100%;
    opacity: 1;
}
.grid figure figcaption {
    padding: 2em;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption {
    padding:20px;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
/*---------------*/
/***** Fade *****/
/*---------------*/
figure.effect-ste {
    img {
        opacity:1;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }
}
figure.effect-ste:hover {
    img {
        opacity:0.7;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }
}
.figwrap{   
    left:0;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    padding:0 30px;
}
figure.effect-framed img {
    background:none;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.effect-framed figcaption::before, figure.effect-framed figcaption::after {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    opacity:0;
    content: '';
}
figure.effect-framed figcaption::before {
    background:none;
    -moz-transition:all 0.35s ease-in-out 0s;
    transition:all 0.35s ease-in-out 0s;
    -webkit-transition:all 0.35s ease-in-out 0s    
}

figure.effect-framed figcaption h2 {
    font-size:120%;
    line-height:28px;
    display:block;
    background:none;
    position:relative;
    color:$grey;
    font-family: 'MrsEavesRoman-Regular';
    text-align:center;
    height:100%;
    text-transform: capitalize;
    opacity: 0;
    -moz-transition:all 0.35s ease-in-out 0s;
    transition:all 0.35s ease-in-out 0s;
    -webkit-transition:all 0.35s ease-in-out 0s 
}
figure.effect-framed:hover figcaption::before {
    background:$white;
    opacity:0.7;
    -moz-transition:all 0.35s ease-in-out 0s;
    transition:all 0.35s ease-in-out 0s;
    -webkit-transition:all 0.35s ease-in-out 0s;
}
figure.effect-framed:hover figcaption h2 {
    opacity: 1;
}
/**
 * 13. COMMON STYLE / BORDERS
 * ------------------------------------
*/

.logo-anim {
    height: 150px;
    width: 300px;
    position: relative;
    display: block;
    //background: url('../img/logo-anim.png') cover no-repeat center 0;
    background-position: 0px 0px;
    transform: scale(0.75, 0.75);
    animation: logoAnimScale 2s ease-in-out forwards;
    -moz-animation: logoAnimScale 2s ease-in-out forwards;
    -webkit-animation: logoAnimScale 2s ease-in-out forwards;
    -ms-animation: logoAnimScale 2s ease-in-out forwards;
    -o-animation: logoAnimScale 2s ease-in-out forwards;
    
    
    .triangle-logo {
        background: url('../img/svg/logo.svg') no-repeat;
        height: 80px;
        width: 90px;
        display: block;
        position: absolute;
        opacity: 0;
        background-position: 0 0;
    }
    
    .david {
        background: url('../img/svg/logo-text.svg') no-repeat;
        height: 40px;
        width: 100%;
        display: block;
        position: absolute;
        background-size: cover;
        background-position: 0 0;
    }
    .cullimore {
        background: url('../img/svg/logo-text.svg') no-repeat;
        height: 40px;
        width: 100%;
        display: block;
        top: 50px;
        position: absolute;
        background-size: cover;
        background-position: 0px 65%;
    }
    .photography {
        background: url('../img/svg/logo-text.svg') no-repeat;
        height: 8%;
        width: 100%;
        display: block;
        position: absolute;
        top: 106px;
        background-size: cover;
        background-position: center 100%;
    }
}
.header-slide-down {
    .logo-anim {
        animation: logoAnim 2s ease-in-out forwards;
        -moz-animation: logoAnim 2s ease-in-out forwards;
        -webkit-animation: logoAnim 2s ease-in-out forwards;
        -ms-animation: logoAnim 2s ease-in-out forwards;
        -o-animation: logoAnim 2s ease-in-out forwards;
            
            
        .triangle-logo {
            animation: animatedBackground 2s ease-in-out forwards;
            -moz-animation: animatedBackground 2s ease-in-out forwards;
            -webkit-animation: animatedBackground 2s ease-in-out forwards;
            -ms-animation: animatedBackground 2s ease-in-out forwards;
            -o-animation: animatedBackground 2s ease-in-out forwards;
        }
        .david {
            animation: hideDavid 2s ease-in-out forwards;
            -moz-animation: hideDavid 2s ease-in-out forwards;
            -webkit-animation: hideDavid 2s ease-in-out forwards;
            -ms-animation: hideDavid 2s ease-in-out forwards;
            -o-animation: hideDavid 2s ease-in-out forwards;
        }
        .cullimore {
            animation: hideCullimore 2s ease-in-out forwards;
            -moz-animation: hideCullimore 2s ease-in-out forwards;
            -webkit-animation: hideCullimore 2s ease-in-out forwards;
            -ms-animation: hideCullimore 2s ease-in-out forwards;
            -o-animation: hideCullimore 2s ease-in-out forwards;
        }
        .photography {
            animation: hidePhotography 2s ease-in-out forwards;
            -moz-animation: hidePhotography 2s ease-in-out forwards;
            -webkit-animation: hidePhotography 2s ease-in-out forwards;
            -ms-animation: hidePhotography 2s ease-in-out forwards;
            -o-animation: hidePhotography 2s ease-in-out forwards;
        }
    }
}
@keyframes logoAnimScale {
     0% { 
         transform: scale(0.1, 0.1);
     }

    50% { 
        transform: scale(0.75, 0.75);
    }
    75% {
        transform: scale(0.75, 0.75);
    }
    100% { 
        transform: scale(0.75, 0.75);
    }
}
@keyframes logoAnim {
     0% { 

     }

    50% { 
        height: 150px;
    }
    75% {
        height: 24px;
    }
    100% { 
        height: 24px;
    }
}
@keyframes hideDavid {
     0% { 
         top: 0px;
         -webkit-clip-path: polygon(0 0, 77% 0, 77% 100%, 0 100%);
        clip-path: polygon(0 0, 77% 0, 77% 100%, 0 100%);
        left: 0;
     }

    25% { 
        top: 0px;
        -webkit-clip-path: polygon(0 0, 35% 0, 35% 100%, 0 100%);
        clip-path: polygon(0 0, 35% 0, 35% 100%, 0 100%);
        left: -70px;
        transform: scale(1, 1);
    }
    50% {
        top: 48px;
        left: -70px;
        opacity: 1;
        transform: scale(0.75, 0.75);
    }
    100% { 
        left: -70px;
        top: 48px;
        -webkit-clip-path: polygon(0 0, 35% 0, 35% 100%, 0 100%);
        clip-path: polygon(0 0, 35% 0, 35% 100%, 0 100%);
        transform: scale(0.75, 0.75);
        opacity: 0;
    }
}
@keyframes hideCullimore {
     0% { 
         left: 0%;
         top: 50px;
         -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }

    25% { 
        left: 7%;
        -webkit-clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
        clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
        transform: scale(1, 1);
        top: 48px;
    }
    50% {
        left: 13px;
        top: 48px;
        background-size: 99%;
        opacity: 1;
        transform: scale(0.75, 0.75);
    }
    100% { 
        left: 13px;
        top: 48px;
        background-size: 99%;
        -webkit-clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
        clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
        transform: scale(0.75, 0.75);
        opacity: 0;
    }
}
@keyframes hidePhotography {
     0% { 
         -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }

    25% { 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100% { 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}
@keyframes animatedBackground {
     50% {
         opacity: 0; 
     }
    100% { 
        opacity: 1; 
    }
}
.dc-log-anim {
    transform: scale(0.75, 0.75);
    height: 116px;
    width: 265px;
    position: relative;
    animation: logoAnimScale 2s ease-in-out forwards;
    -moz-animation: logoAnimScale 2s ease-in-out forwards;
    -webkit-animation: logoAnimScale 2s ease-in-out forwards;
    -ms-animation: logoAnimScale 2s ease-in-out forwards;
    -o-animation: logoAnimScale 2s ease-in-out forwards;
    
    .dc-trangle {
        background: url('../img/svg/logo.svg') no-repeat;
        width: 91px;
        height: 84px;
        opacity: 0;
    }
    .dc-cullimore, .dc-david, .dc-photography {
        position: absolute;
    }
    .dc-david {
        left: 22%;
        top: 0px;
        .dc-d {
            background: url('../img/svg/logo-text.svg') no-repeat;
            width: 35px;
            height: 27px;
            float: left;
            display: block;
            background-position: -57px 0;
        }
        .dc-avid {
            background: url('../img/svg/logo-text.svg') no-repeat;
            width: 111px;
            display: block;
            background-position: -91px 0;
            margin-left: 35px;
            height: 27px;
        }
    }
    .dc-cullimore {
        top: 53px;
        
        .dc-c {
            background: url('../img/svg/logo-text.svg') no-repeat;
            width: 32px;
            height: 29px;
            float: left;
            display: block;
            background-position: 0px -45px;
        }
        .dc-ullimore {
            background: url('../img/svg/logo-text.svg') no-repeat;
            width: 230px;
            display: block;
            background-position: -31px -44px;
            margin-left: 35px;
            height: 29px;
            
        }
    }
    .dc-photography {
        background: url('../img/svg/logo-text.svg') no-repeat;
        width: 116px;
        top: 90%;
        left: 28%;
        display: block;
        height: 17px;
        background-position: -70px -90px;
        
    }
}
.header-slide-down {
    .dc-log-anim {
        animation: testanim 2s ease-in-out forwards;
        -moz-animation: testanim 2s ease-in-out forwards;
        -webkit-animation: testanim 2s ease-in-out forwards;
        -ms-animation: testanim 2s ease-in-out forwards;
        -o-animation: testanim 2s ease-in-out forwards;
        .dc-trangle {
            animation: displayDcTriangle 2s ease-in-out forwards;
            -moz-animation: displayDcTriangle 2s ease-in-out forwards;
            -webkit-animation: displayDcTriangle 2s ease-in-out forwards;
            -ms-animation: displayDcTriangle 2s ease-in-out forwards;
            -o-animation: displayDcTriangle 2s ease-in-out forwards;
        }
        .dc-david {
            animation: moveD 2s ease-in-out forwards;
            -moz-animation: moveD 2s ease-in-out forwards;
            -webkit-animation: moveD 2s ease-in-out forwards;
            -ms-animation: moveD 2s ease-in-out forwards;
            -o-animation: moveD 2s ease-in-out forwards;
            .dc-avid {
                animation: hideAvidLetters 2s ease-in-out forwards;
                -moz-animation: hideAvidLetters 2s ease-in-out forwards;
                -webkit-animation: hideAvidLetters 2s ease-in-out forwards;
                -ms-animation: hideAvidLetters 2s ease-in-out forwards;
                -o-animation: hideAvidLetters 2s ease-in-out forwards;
            }
        }
        .dc-cullimore {
            animation: moveC 2s ease-in-out forwards;
            -moz-animation: moveC 2s ease-in-out forwards;
            -webkit-animation: moveC 2s ease-in-out forwards;
            -ms-animation: moveC 2s ease-in-out forwards;
            -o-animation: moveC 2s ease-in-out forwards;
            .dc-ullimore {
                animation: hideUlimoreLetters 2s ease-in-out forwards;
                -moz-animation: hideUlimoreLetters 2s ease-in-out forwards;
                -webkit-animation: hideUlimoreLetters 2s ease-in-out forwards;
                -ms-animation: hideUlimoreLetters 2s ease-in-out forwards;
                -o-animation: hideUlimoreLetters 2s ease-in-out forwards;
            }
        }
        .dc-photography {
            animation: hideDcPhotography 2s ease-in-out forwards;
            -moz-animation: hideDcPhotography 2s ease-in-out forwards;
            -webkit-animation: hideDcPhotography 2s ease-in-out forwards;
            -ms-animation: hideDcPhotography 2s ease-in-out forwards;
            -o-animation: hideDcPhotography 2s ease-in-out forwards;
        }
    }
}
@keyframes testanim {
     0%  { opacity: 1; height: 116px;}
   100%  { opacity: 1; height: 28px; width: 225px;}
}
@keyframes hideUlimoreLetters {
     0%  { width: 230px; }
    25%  { width: 0px; }
    100% { width: 0px;}
}
@keyframes hideAvidLetters {
     0%  { width: 111px; }
    25%  { width: 0px; }
    100% { width: 0px;}
}
@keyframes hideDcPhotography {
     0%  { height: 17px; }
    25%  { height: 0px; }
    100% { height: 0px;}
}
@keyframes moveD {
     0%  { left: 22%; top: 0; transform: scale(1);}
    25%  { left: 22%; top: 0; transform: scale(1);}
    50%  { left: 15px; top: 50px; transform: scale(0.85); opacity: 1;}
    100% { left: 15px; top: 50px; transform: scale(0.85); opacity: 0;}
}
@keyframes moveC {
     0%  { left: 0; top: 53px; transform: scale(1);}
    25%  { left: 0; top: 53px; transform: scale(1);}
    50%  { left: 49px; top: 50px; transform: scale(0.85); opacity: 1;}
    100% { left: 49px; top: 50px; transform: scale(0.85); opacity: 0;}
}
@keyframes displayDcTriangle {
     0%  { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1;}
}